.App {
  position: relative;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.header {
  background: rgba(0, 0, 128, 1.0);
  color: white;
}

.header--title {
  margin: 0;
  padding: 40px 0 0;
}

.header--subtitle {
  margin: 0;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 128, 1.0);
  padding: 20px 0;
  margin: -3px 0 0;
}

.basic-btn {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  transition: all 300ms ease;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.basic-btn:hover {
  background: #000080;
  color: white;
}

.btn-disabled {
  background-color: rgba(51, 51, 51, 0.25);
  color: rgba(51, 51, 51, 0.5);
  pointer-events: none;
}

.searchbar {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: center;
  margin: 0 20px;
}

.searchbar--text-input {
  height: 32px;
  outline: none;
}

.searchbar--btn-search {
  margin: 0 10px 0 20px;
  background: white;
  border: 1px solid white;
}

.searchbar--btn-clear {
  border: 1px solid white;
  background: white;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.movie-list--load-more-ctnr {
  display: flex;
  background: inherit;
  align-items: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.2);
}

.movie-card--title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2 * 16px);
  padding: 0 16px;
  margin: 16px 0 12px;
  flex-grow: 1;
}

.movie-card--image {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.movie-card--vote-avg {
  margin: 0 0 16px;
}

.footer {
  margin: 20px 0 0;
}

.movie-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}

.movie-modal--visible {
  z-index: 99;
  opacity: 100%;
}

.movie-modal--bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  cursor: pointer;
}

.movie-modal--content {
  position: relative;
  display: flex;
  height: 80%;
  width: 70%;
  background: white;
  z-index: 2;
}

.movie-modal--content--img-ctnr {
  width: 42%;
  height: 100%;
  overflow: hidden;
}

.movie-modal--content--img {
  height: 100%;
  object-fit: cover;
}

.movie-modal--content--text-ctnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58%;
  height: 100%;
}

.movie-modal--content--backdrop-poster {
  width: 100%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #806200;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  opacity: 0.9;
  transition: all 0.3s ease;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content--sort-btn {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content--sort-btn:hover {
  background-color: #ddd;
}

.dropdown-content--sort-btn--active {
  background-color: #ddd;
  border: 1px solid black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #806200;
  opacity: 1.0;
}

.section {
  width: 100%;
  padding: 50px 0 75px;
}

.section--about {
  background: #000080;
  color: white;
}

.section--contact {
  background: #806200;
  color: white;
}

.section--contact a {
  color: white;
}
